*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Bgg{
    background-image: url(neflix.jpg);
   min-height: 100vh;
   min-width: 200;

}
.text{

    align-items: center;
    justify-content: center;
    align-content: center;
    color: aliceblue;
    position: absolute;
    left: 350px;
    transform: translateX(500px);
    transform: translateY(150px);
}
.text h1{
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;

}
.text p{
    justify-items: center;
    justify-self: center;
    transform: translate(30%);
    font-size: 27px;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height:normal;
vertical-align:baseline;
letter-spacing:normal;
}
.rr{
    font-size: 22px;
    font-weight: 300;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height:normal;
vertical-align:baseline;
letter-spacing:normal;
font-stretch: 100%;
text-align: center;
transition: ;
}
.bb{
    border: 1px solid red;
     background-color: rgb(24,20,21);
    width: 50%;
    height: 8vh;
    margin-left: 150px;
    margin-top: 20px;
    font-size: 22px;
    opacity: 0.5;
  padding-bottom: 50px;
  text-align:start;
  top: 20px;
    
}
.ss{
    transform: translateY(-15px);
}
.enjoy{
    transform: translateX(250px);
    /* transform: translateZ(200px); */
    margin-top: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.enjoy h2{
    font-size: 50px;
    font-weight: 900;
}
.enjoy p{
    font-size: 25px;
    font-weight: 400;
}
.shows{

}
.shows h2{
    font-size: 60px;
    font-weight: 900; 
}
.shows p{
    font-size: 25px;
    font-weight: 400;
}
.strm h2{
    font-size: 60px;
    font-weight: 900; 
}
.strm p{
    font-size: 25px;
    font-weight: 400;
}
.accordion{
    --bs-accordion-btn-bg:#2D2D2D;
    --bs-accordion-active-bg:#2D2D2D;
    --bs-accordion-active-color:#ffff;
    --bs-accordion-btn-focus-box-shadow: none;
    --bs-accordion-bg:red;
    /* --bs-accordion-btn-padding-y:30px; */
    --bs-accordion-btn-focus-border-color:unset;
    width: 80%;
    align-items: center;
    justify-content: center;
    transform: translateX(250px);
    border: none;
    color: #fff;
    outline: none;
}
.accordion h2{
    color: #fff;

}
#
.accordion-button{
    border: none;
    border: unset;
    color: #fff;
    outline: none;

}
.accordion-body{
    background-color: #2D2D2D;
    font-weight: 400;
    font-size: 22px;
}
.accordion-button:after{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='500' height='500' fill='white' class='bi bi-plus-lg' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2'/%3E%3C/svg%3E" );
    border: none;
    outline: none;
}
.accordion-button:not(.collapsed)::after{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='22' fill='white' class='bi bi-x-lg' viewBox='0 0 16 16'%3E%3Cpath d='M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z'/%3E%3C/svg%3E"); 

}
.accordion-button:not(.collapsed){
    box-shadow: none;
}
.faq li{
    /* float: left; */
    padding: 10px;
}
.faq li a{
    color: #fff;
}
.help li{
    padding: 10px;
  padding-left: 30px;
}
.help li a{
    color: #fff;
}
